# Python
__pycache__
*.pyc
*.egg-info
dist


# Log
*.log
*.log.*
*.jsonl

# Data
data/
eval_output/
eval_output_profile/
eval_output_profile_jetson/

# Model artifacts / checkpoints
*.pth
*.pt
*.ckpt
*.bin
*.safetensors
Model/LLaMA-UAV/work_dirs/
Model/LLaMA-UAV/model_zoo/
work_dirs/
work_dirs
model_zoo/
model_zoo
checkpoints/
ckpts*/

# Local convenience symlink
llamavid

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
data
settings

.ipynb_checkpoints
*.ipynb
src/model_wrapper/utils/GroundingDINO/groundingdino_swint_ogc.pth
src/model_wrapper/utils/__pycache__
